@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    outline: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

section>#cardContainer {
    width: 45%;
    height: inherit;
    position: relative;
}

section>#cardContainer>img {
    width: 70%;
    height: inherit;
}

section>#cardContainer>#cardHolder {
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
}

section>#cardContainer>#cardHolder>.cards {
    width: 330px;
    height: 200px;
    box-shadow: 2px 2px 3px rgb(56, 56, 56);
    border-radius: 10px;
}

section>#cardContainer>#cardHolder>.cards>img {
    width: 100%;
    height: 100%;
}

section>#cardContainer>#cardHolder>#atmCredentials {
    position: absolute;
    left: 30%;
    top: 15%;
}

section>#cardContainer>#cardHolder>#cvvCred {
    position: absolute;
    top: 54%;
    right: 2%;
}

section>#cardContainer>#cardHolder>.cards>img {
    width: 100%;
    height: 100%;
    position: relative;
}

section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials {
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    padding: 15px;
}

section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials>#svg {
    width: 100%;
    height: 30%;
}

section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials>#svg>svg {
    width: inherit;
    height: 100%;
}

section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials>#atmNum {
    width: 100%;
    height: 40px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 25px;
    margin-top: 15px;
}

section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials>#sampCred {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials>#sampCred>input {
    flex: 5;
    height: 30px;
    font-family: inherit;
    font-size: inherit;
    border: inherit;
    outline: inherit;
    background: inherit;
    font-weight: inherit;
    color: white;
    letter-spacing: 2px;
}

section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials>#sampCred>#readMonth {
    flex: 1;
    text-align: end;
}

section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials>#sampCred>#readYear {
    flex: 1;
}

section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials>#atmNum::placeholder,
section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials>#sampCred>input::placeholder {
    color: white;
}

section>#cardContent {
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
}

section>#cardContent>form {
    width: 60%;
}

section>#cardContent>#showApproveCred {
    display: none;
    width: 60%;
    height: 40%;
}

section>#cardContent>#showApproveCred>#approve_Credentials {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

section>#cardContent>#showApproveCred>#approve_Credentials>#submit {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(15, 15, 17);
    color: #f0f0f0;
    font-size: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

section>#cardContent>form>.mcard {
    margin-bottom: 15px;
}

section>#cardContent>form>.mcard>label {
    font-size: 15px;
    font-weight: 400;
}

section>#cardContent>form>.mcard>input {
    width: 100%;
    height: 40px;
    border: 1.5px solid rgb(32, 32, 32);
    border-radius: 5px;
    text-indent: 10px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

section>#cardContent>form>#secureCred {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 2px;
}

section>#cardContent>form>#secureCred>#expDate {
    display: flex;
    flex: 3;
    font-size: 15px;
    font-weight: 400;
}

#showError {
    display: none;
    color: red;
    font-size: medium;
    margin-top: 2px;
}

section>#cardContent>form>.mcard>div>div>input {
    width: 70%;
    height: 40px;
    border: 1.5px solid rgb(32, 32, 32);
    border-radius: 5px;
    text-indent: 5px;
    font-size: 18px;
}

#cvcCredentials {
    position: absolute;
    width: 30%;
    top: 42.75%;
    right: 10%;
    height: 25px;
}

#cvcCredentials>input {
    width: 100%;
    height: 100%;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 20px;
    text-align: end;
}

#cvcCredentials>input::placeholder {
    color: white;
}

section>#cardContent>form>.mcard>#fillCvc {
    flex: 3;
}

section>#cardContent>form>.mcard>#fillCvc>label {
    font-size: 15px;
    font-weight: 400;
}

section>#cardContent>form>.mcard>#fillCvc>input {
    width: 100%;
    height: 40px;
    border: 1.5px solid rgb(32, 32, 32);
    border-radius: 5px;
    text-indent: 5px;
    font-size: 18px;
}

section>#cardContent>form>button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(15, 15, 17);
    color: #f0f0f0;
    font-size: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:624px) {
    section {
        width: 100%;
        flex-direction: column;
    }
    section>#cardContainer {
        width: 100%;
        height: 40%;
    }
    section>#cardContent {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    section>#cardContainer>img {
        width: 100%;
        height: 100%;
    }
    section>#cardContainer>#cardHolder {
        width: 100%;
        height: 100%;
    }
    section>#cardContainer>#cardHolder>.cards {
        width: 220px;
        height: 120px;
    }
    section>#cardContent>form {
        width: 100%;
        padding: 5px;
    }
    section>#cardContent>#showApproveCred {
        width: 100%;
        height: 70%;
        padding: 5px;
    }
    section>#cardContainer>#cardHolder>#atmCredentials {
        left: 5%;
        z-index: 1000;
    }
    section>#cardContainer>#cardHolder>#cvvCred {
        top: 42%;
    }
    section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials {
        padding: 10px;
    }
    section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials>#svg {
        width: 50%;
        height: 50%;
    }
    section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials>#svg>svg {
        width: 100%;
        height: 100%;
    }
    section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials>#atmNum {
        height: 20px;
        font-size: 15px;
        margin-top: 7px;
    }
    section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials>#sampCred {
        margin-top: 2px;
    }
    section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials>#sampCred>input {
        height: 20px;
        flex: 5;
        font-size: 9px;
    }
    section>#cardContainer>#cardHolder>#atmCredentials>#dynamic_Credentials>#sampCred>#slash {
        font-size: 10px;
    }
    #cvcCredentials {
        /* position: absolute; */
        width: 50%;
        top: 40%;
        right: 10%;
        height: 25px;
    }
    #cvcCredentials>input {
        font-size: 12px;
    }
}